* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Montserrat;
    src: url(/assets/Fonts/Montserrat/Montserrat-Regular.ttf);
}

/* zelf gemaakt font */
@font-face {
    font-family: PixerMCBixer;
    src: url(./assets/Fonts/PixerMCBixer/PixerMCBixerV5-Regular.ttf);
}
main {
    background: var(--background-color-1);
    font-family: PixerMCBixer, Montserrat;
}

body {
    justify-content: center;
    place-self: center;
header {
    display: none;
    background: var(--background-color-1);
    border-color: var(--border-color);
    border-width: thick;
    width: 20em;
    height: 800%;
    position: absolute;
    left: 0;
    top: 0;
        section {
            position: inherit;
            top: 10em;
            /* border-color: var(--border-color); */
            border-width: thick;
            justify-items: center;
            align-content: start;
        }

        @media (min-width: 1800px) {
            display: block;
        }
}

fieldset {
    border-style: none;
    padding-left: 1em;
}

input {
  margin: 0.5em;
}


}

li {
    list-style: none;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

section.grid-profile-section {
    display: grid;
    justify-content: start;

        @media (min-width: 450px) {
        grid-template-columns: 1fr 1fr;
    }

        @media (min-width: 650px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

        @media (min-width: 850px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

section.profile-section {
    display: grid;
    justify-content: start;
    grid-template-columns: 1fr;
    padding: 1em;
}

img.img.active {
    display: block;
    position: fixed;
    /* z-index: 10; */

    article.profile:nth-child(2) {
    transform: translate(0, 100px);
    }

    .profile.info {
        z-index: 10;
    }
}

article:nth-child(2) {
    /* position: absolute; */
}

.profile {
    align-content: start;
}

.info {
    justify-self: center;
    background: green;
    width: 10em;
    height: 10em;
    text-wrap: nowrap;
}

.img {
    z-index: 10;
    height: 10em;
    width: 10em;
    object-fit: cover;
    justify-self: center;
    background-size: 80%;
} 




