* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Montserrat;
    src: url(/assets/Fonts/Montserrat/Montserrat-Regular.ttf);
}

/* zelf gemaakt font */
@font-face {
    font-family: PixerMCBixer;
    src: url(./assets/Fonts/PixerMCBixer/PixerMCBixerV5-Regular.ttf);
}

:root {
    --background-color-1: black;
    --background-color-2: white;
    --border-color: lime;
    --text-color: white;
}

main {
    background: var(--background-color-1);
    font-family: PixerMCBixer, Montserrat;
}

body {
    justify-content: center;
    place-self: center;
    color: var(--text-color);
}

header {
    display: none;
    background: var(--background-color-1);
    border-color: var(--border-color);
    border-width: thick;
    width: 20em;
    height: 800%;
    position: absolute;
    left: 0;
    top: 0;
        section.header {
            position: inherit;
            top: 10em;
            /* border-color: var(--border-color); */
            border-width: thick;
            justify-items: center;
            align-content: start;
        }

        @media (min-width: 1800px) {
            display: block;
        }
}

.navKnop {
    background: var(--background-color-1);
    border-color: var(--border-color);
    border-width: thick;
    border-style: none;
    padding: 0.5em 1em 0.5em 1em;
}

fieldset {
    border-style: none;
    padding-left: 1em;
}

input {
  margin: 0.5em;
}


h1 {
    padding-top: 1em;
    font-size: 3em;
        @media (min-width: 850px) {
            font-size: 5em;
        }
}

h2 {
    padding-top: 0.5em;
    font-size: 1.5em;
        @media (min-width: 850px) {
            font-size: 3em;
        }
}

li {
    list-style: none;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

section.grid-profile-section {
    display: grid;

    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 850px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

section.profile-section {
    display: grid;
    justify-content: start;
    grid-template-columns: 1fr;
    padding: 1em;
}

img.img.active {
    display: block;
    position: fixed;
    /* z-index: 10; */

    article.profile:nth-child(2) {
        transform: translate(0, 100px);
    }

    .profile.info {
        z-index: 10;
    }
}

/* article:nth-child(2) {
    /* position: absolute; */


.profile {
    align-content: start;
    height: 10em;
    width: 10em;
    padding: 2em;
    background: var(--background-color-1);
    border: solid var(--border-color);
    border-width: thick;
}

.info {
    justify-self: center;
    width: 10em;
    height: 10em;
    text-wrap: wrap;
    border-top-width: 50%;

    .center {
        padding: 0.3em;
    }
}

.img {
    z-index: 10;
    height: 10em;
    width: 10em;
    object-fit: cover;
    justify-self: center;
    border-bottom-width: 50%;
}